@model Golf_3_MVC.Models.bokning

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>bokning</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.golf_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.golf_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Tillbaka", "Index")
</p>
