@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hålslaget GK</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a href="@Url.Action("Index", "Home")"><div class="logo"></div></a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hålslaget GK", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()

                        if (User.IsInRole("Personal"))  // PERSONAL
                        {
                            <ul class="nav navbar-nav">
                                <li class="startbtn">@Html.ActionLink("Start", "Index", "Home")</li>
                                <li class="kalenderbtn">@Html.ActionLink("Bokningsschema", "Index", "Calendar")</li>
                                <li class="medlembtn">@Html.ActionLink("Hantera medlemar", "Medlem", "medlemmars/index")</li>
                                <li class="banornabtn">@Html.ActionLink("Tävling", "Tavling", "Home")</li>
                                @*<li class="kontaktbtn">@Html.ActionLink("Kontakt", "Kontakt", "Home")</li>*@
                            </ul>
                        }
                        else if (User.IsInRole("Admin"))  // ADMIN
                        {
                            <ul class="nav navbar-nav">
                                <li class="startbtn">@Html.ActionLink("Start", "Index", "Home")</li>
                                <li class="kalenderbtn">@Html.ActionLink("Bokningsschema", "Index", "Calendar")</li>
                                <li class="medlembtn">@Html.ActionLink("Hantera medlemar", "Medlem", "medlemmars/index")</li>
                                <li class="banornabtn">@Html.ActionLink("Tävling", "Tavling", "Home")</li>
                                @*<li class="kontaktbtn">@Html.ActionLink("Kontakt", "Kontakt", "Home")</li>*@
                            </ul>
                        }
                        else  // MEDLEM
                        {
                            <ul class="nav navbar-nav">
                                <li class="startbtn">@Html.ActionLink("Start", "Index", "Home")</li>
                                <li class="kalenderbtn">@Html.ActionLink("Boka bantid", "Index", "Calendar")</li>
                                @*<li class="medlembtn">@Html.ActionLink("Banstatus", "Medlem", "medlemmars/index")</li>*@
                                <li class="banornabtn">@Html.ActionLink("Tävling", "Tavling", "Home")</li>
                                <li class="kontaktbtn">@Html.ActionLink("Kontakt", "Kontakt", "Home")</li>
                            </ul>

                        }  // ALLA INLOGGADE
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    @Html.ActionLink("Golf-ID: " + User.Identity.GetUserName() +" "+ "Inloggad som: " + "(MEDLEMSTYPEN)", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                </li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Logga ut</a></li>
                            </ul>
                        
                    }
                }
                else // BESÖKARE
                {
                    <ul class="nav navbar-nav">
                        <li class="startbtn">@Html.ActionLink("Start", "Index", "Home")</li>
                        <li class="medlembtn">@Html.ActionLink("Medlem", "Medlem", "medlemmars/index")</li>
                        <li class="banornabtn">@Html.ActionLink("Banorna", "Banorna", "Home")</li>
                        <li class="klubbenbtn">@Html.ActionLink("Klubben", "Klubben", "Home")</li>
                        <li class="kontaktbtn">@Html.ActionLink("Kontakt", "Kontakt", "Home")</li>
                        <li class="kalenderbtn">@Html.ActionLink("KalenderTEST", "Index", "Calendar")</li>
                    </ul>

                    @Html.Partial("_LoginPartial")
                }

            </div>
        </div>
    </div>
    <div class="container body-content">

        @RenderBody()
        
    </div>

        <footer>
            <div class="footer" id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-md-4">
                            <h4>Hålslaget GK</h4>
                            <p>
                                Golfgatan 3
                                <br />100 03 Golfstad
                            </p>
                            <ul class="list-unstyled">
                                <li>070-00 00 000
                                <li><a href="mailto:gk.halslaget@gmail.com" target="_blank">Maila oss!</a></li>
                            </ul>
                        </div>

                        <div class="col-xs-6 col-md-4">
                            @*<ul class="social-network social-circle">
                                <li><a href="mailto:index@halslagetgk.se" class="icoMail" title="E-mail"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>*@
                        </div>
                        <div class="col-xs-6 col-md-4">
                            @*<h4> Registrera nyhetsbrev </h4>
                            <ul>
                                <li style="list-style-type:none;">
                                    <div class="input-append newsletter-box">
                                        <input type="text" class="full pull-left" placeholder="E-mail">
                                        <button class="btn bg-gray" type="button"> Bekräfta <i class="fa fa-long-arrow-right"> </i> </button>
                                    </div>
                                </li>
                            </ul>*@
                        </div>
                    </div>
                    <!--/.row-->
                </div>
                <!--/.container-->
            </div>
            <!--/.footer-->

            <div class="footer-bottom">
                <div class="container">
                    <p class="center"> &copy; @DateTime.Now.Year - Hålslaget GK - Grupp 3</p>
                </div>
            </div>
            <!--/.footer-bottom-->
        </footer>


    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
