@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Golf_3_MVC.Models.medlemmar>

@{
    ViewBag.Title = "Medlemmar";
}

<h2>Medlemmar</h2>

<p>
    
</p>


<div class="row">
    <ul class="nav nav-pills nav-stacked">
        <li class="pill-skapamedlem">@Html.ActionLink("Skapa ny medlem", "Create")</li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                Sök medlem <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
@using (Html.BeginForm())
{
    <p>
        Sök på namn eller golf-ID: @Html.TextBox("SearchString")
                        <input type="submit" value="Sök" />
    </p>
}
            </ul>
        </li>
        @*
        <li class="pill-banstatus"><a href="">Banstatus</a></li>
        <li class=""><a href="#">Disabled</a></li>*@

    </ul>

    <div class="panel panel-default panel-medlemmar">
        <div class="panel-heading">Medlemmar</div>
        <div class="panel-body">

<table class="table">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.First().fornamn)
        </th>
        <th>
            @Html.ActionLink("Efternamn", "Index", new { sortOrder = ViewBag.EfternamnSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().postnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ort)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.First().epost)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.First().kon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().hcp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().golf_id)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.First().telefonnr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().betalstatus)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.First().medlemskategori.namn)
        </th>
        <th></th>
    </tr>

                @foreach (var item in Model)
                {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fornamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.efternamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postnummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ort)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.epost)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.kon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hcp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.golf_id)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.telefonnr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.betalstatus)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.medlemskategori.namn)
        </td>
        <td>
                            @Html.ActionLink("Ändra", "Edit", new { id = item.id }) |
                            @Html.ActionLink("Detaljer", "Details", new { id = item.id }) |
                            @Html.ActionLink("Ta bort", "Delete", new { id = item.id })
        </td>
    </tr>

}

</table>

        </div>
    </div>

</div>



<div align="center">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>