@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Golf_3_MVC.Models.medlemmar>

@{
    ViewBag.Title = "Medlemmar";
}



    @if (User.IsInRole("Personal") || User.IsInRole("Admin"))  // INLOGGAD SOM PERSONAL ELLER ADMIN
    {
        <div class="row adminmedlemmarDiv">
            <ul class="nav nav-pills nav-stacked">
                <li class="pill-skapamedlem">@Html.ActionLink("Skapa ny medlem", "Create")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                        Sök medlem <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @using (Html.BeginForm())
                        {
                            <p>
                                Sök på namn eller golf-ID: @Html.TextBox("SearchString")
                                <input type="submit" value="Sök" />
                            </p>
                        }
                    </ul>

                </li>
                @*
                    <li class="pill-banstatus"><a href="">Banstatus</a></li>
                    <li class=""><a href="#">Disabled</a></li>*@

            </ul>

            <div class="panel panel-default panel-medlemmar">
                <div class="panel-heading">Medlemmar</div>
                <div class="panel-body">

                    <table class="table">
                        <tr class="success">
                            <th>
                                @Html.ActionLink("Förnamn", "Index", new { sortOrder = ViewBag.FörnamnSortParm })
                            </th>
                            <th>
                                @Html.ActionLink("Efternamn", "Index", new { sortOrder = ViewBag.EfternamnSortParm })
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().adress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().postnummer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().ort)
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.First().epost)
                                </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.First().kon)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().hcp)
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.First().golf_id)
                                </th>*@
                            @*<th>
                                    @Html.DisplayNameFor(model => model.First().telefonnr)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().betalstatus)
                                </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.First().medlemskategori.namn)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fornamn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.efternamn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.adress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.postnummer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ort)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.epost)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.kon)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.hcp)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.golf_id)
                                    </td>*@
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.telefonnr)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.betalstatus)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.medlemskategori.namn)
                                </td>
                                <td>
                                    @Html.ActionLink("Ändra", "Edit", new { id = item.id }) |
                                    @Html.ActionLink("Detaljer", "Details", new { id = item.id }) |
                                    @Html.ActionLink("Ta bort", "Delete", new { id = item.id })
                                </td>
                            </tr>

                        }

                    </table>

                </div>
            </div>

        </div>



        <div align="center">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>
    

    }

else // BESÖKARE ELLER MEDLEM
{

    {
        ViewBag.Title = "Medlem";
    }

        <!-- CAROUSEL -->
        <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
                @*<li data-target="#bs-carousel" data-slide-to="1"></li>
                    <li data-target="#bs-carousel" data-slide-to="2"></li>*@
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item slides active">
                    <div class="slide-1 medlemslide1"></div>
                    <div class="hero">

                    </div>
                </div>
            </div>
        </div>
        <!-- ../CAROUSEL -->

        <div class="row">
            <ul class="nav nav-pills nav-stacked">
                <li class="pill-infomedlem"><a href="">Att vara medlem</a></li>
                @*<li class="pill-bana2"><a href="">Bana 2</a></li>
                    <li class="pill-bana3"><a href="">Bana 3</a></li>*@
                @*<li class=""><a href="#">Disabled</a></li>
                    <li class=""><a href="#">Disabled</a></li>*@
            </ul>

            <div class="panel panel-default panel-infomedlem">
                <div class="panel-heading">Att vara medlem </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis libero nisl, feugiat et tellus at, congue pharetra sem.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi tempus et sapien et luctus. Nullam mattis tellus eros, in accumsan orci pretium sit amet.
                    Aliquam vitae tempor justo, non tincidunt odio. Nulla volutpat nulla ac magna luctus, vitae consequat est pellentesque.
                    Etiam ex mi, faucibus eu tempor nec, faucibus sed magna. Cras tempus risus ac massa consectetur bibendum. Proin pretium porttitor orci eu fringilla.
                    Praesent tempus auctor est, non ultrices dolor ultricies non.
                    Curabitur vitae libero nec urna egestas suscipit. Cras posuere sapien ipsum, et bibendum ante convallis vitae. Morbi fringilla nibh diam,
                    faucibus sodales nibh dictum sit amet. Mauris nec dolor ante. Morbi viverra porttitor aliquet. Pellentesque eu ipsum quis ligula porta porttitor.
                    Nulla imperdiet ornare lacus a hendrerit. Nulla facilisi. In hac habitasse platea dictumst. Pellentesque in risus vitae orci sagittis porttitor.
                    Pellentesque quis ullamcorper sem. Aliquam molestie purus at felis maximus maximus. Etiam id eleifend odio, eget posuere nisi. Nullam scelerisque sodales hendrerit.
                    Cras in nibh dui. Ut pretium, leo quis congue ultrices, velit elit maximus purus, eu facilisis leo libero eu eros. Morbi hendrerit aliquam odio id finibus.
                    Vestibulum mollis, sem quis blandit scelerisque, diam enim lacinia metus, id blandit lacus sem ac leo.
                    Aenean convallis imperdiet tellus, placerat imperdiet lectus iaculis sit amet. Nunc eget odio nulla. Quisque eu arcu suscipit erat euismod volutpat.
                    Aliquam commodo ligula sed elit tincidunt molestie. Suspendisse suscipit consectetur lacus sed lobortis.
                </div>
            </div>

            @*<div class="panel panel-default panel-bana2">
                    <div class="panel-heading">Banstatus</div>
                    <div class="panel-body">

                    </div>
                </div>*@
        </div>

    }