
@{
    //Layout = null;
    ViewBag.Title = "MinaBokningar";
    @model Golf_3_MVC.Models.CalendarBookings
}


<!DOCTYPE html>
<html>
<head>
    <title>Hållslaget GK</title>
    <style>
        body
        {
            background-color:#eee;
            margin-top: 5%;

        }
    </style>
</head>
<body>
    <div class="row">
        <ul class="nav nav-pills nav-stacked">
            @*<li class="pill-nyheter"><a href="">Nyheter</a></li>*@
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                    Öppna bokning <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">

                        <p>
                            Från: @Html.TextBox("unblockfrom")<br />
                            Till: @Html.TextBox("unblockto")
                            <input id="unblockbtn" type="button" value="Lägg till" />
                        </p>

                </ul>
            </li>
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                Stäng bokning <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">

                    <p>
                        Från: @Html.TextBox("blockfrom")<br />
                        Till: @Html.TextBox("blockto")
                        <input id="blockbtn" type="button" value="Lägg till" />
                    </p>
                
            </ul>
        </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                    Skriv in golfid <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @using (Html.BeginForm())
                    {
                        <p>
                            Välj bokning: @Html.DropDownList("Bokningar", new SelectList(Model.minaBokningar, "id", "start_date"), "Välj Bokning")
                                        
                        </p>
                    }
                                @using (Html.BeginForm("Create", "Calendar"))
            {
                        <p>
                            Golfid: @Html.TextBox("SearchString")
                            <input type="submit" value="Lägg till" />
                        </p>
                    }

                </ul>
            </li>

        </ul>

        <div class="panel panel-default panel-kalender">
            <div class="panel-heading">Bokningsschema</div>
            <div class="panel-body">
                <div style="height:700px;width:auto;margin:0 auto">
                    @Html.Raw(Model.sched.Render())
                </div>
            </div>
        </div>
    </div>
</body>
</html>
