
@{
    //Layout = null;
    ViewBag.Title = "Bokningsschema";
    @model Golf_3_MVC.Models.CalendarBookings
}


<!DOCTYPE html>
<html>
<head>
    <title>Hållslaget GK</title>
    <style>
        body
        {
            background-color:#eee;
            margin-top: 5%;

        }
    </style>
</head>
<body>
    <div class="row">
        <ul class="nav nav-pills nav-stacked">
            
            @if (User.IsInRole("Personal") || User.IsInRole("Admin"))  // ENDAST FÖR PERSONAL OCH ADMIN
            { 
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                    Säsong <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">

                    @using (Html.BeginForm("Seasontoggle", "Calendar"))
                    {
                        <p>
                            Öppna/Stäng: <input id="responsable" name="checkResp" value="true" type="checkbox" />
                            <br />
                            <input id="seasontogglebtn" type="submit" value="Bekräfta" />
                        </p>
                    }
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                    Öppna bokningstider <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">

                        <p>
                            Från: @Html.TextBox("unblockfrom")<br />
                            Till: @Html.TextBox("unblockto")
                            <input id="unblockbtn" type="button" value="Lägg till" />
                        </p>

                </ul>
            </li>
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                Stäng bokningstider <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">

                @using (Html.BeginForm("Blockinterval", "Calendar"))
                {
                    <p>
                        Från: @Html.TextBox("blockfrom")<br />
                        Till: @Html.TextBox("blockto")
                        <input id="blockbtn" type="submit" value="Lägg till" />
                    </p>
                }
            </ul>
        </li>

            }

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                    Skriv in golfid <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @*@using (Html.BeginForm())
                    {
                        <p>
                            Välj bokning: @Html.DropDownList("Bokningar", new SelectList(Model.minaBokningar, "id", "start_date"), "Välj Bokning")
                        </p>
                    }*@
                                @using (Html.BeginForm("Create", "Calendar"))
                    {
                        <p>
                              Välj bokning: @Html.DropDownList("Bokningar", new SelectList(Model.minaBokningar, "id", "start_date"), "Välj Bokning")
                       </p>
                        <p>
                            Golfid: @Html.TextBox("SearchString")
                            <input type="submit" value="Lägg till" />
                        </p>
                    }

                </ul>
            </li>

        </ul>

        <div class="panel panel-default panel-kalender">
            <div class="panel-heading">Bokningsschema</div>
            <div class="panel-body">
                <div style="height:700px;width:auto;margin:0 auto">
                    @Html.Raw(Model.sched.Render())
                </div>
            </div>
        </div>
    </div>
</body>
</html>
