@{
    ViewBag.Title = "scorekort";
    Layout = "~/Views/Shared/_Layout.cshtml";
     @model Golf_3_MVC.Models.Score
}

<!DOCTYPE html>
<html>
<head>
    <title>Hållslaget GK</title>
</head>
<body>
    <div class="row">
            <style type="text/css">
                    body { 
                        margin-top: 5%;
                    }
                .tg {
                    border-collapse: collapse;
                    border-spacing: 0;
                }

                    .tg td {
                        font-family: Arial, sans-serif;
                        font-size: 14px;
                        padding: 4px 8px;
                        border-style: solid;
                        border-width: 1px;
                        overflow: hidden;
                        word-break: normal;
                    }

                    .tg th {
                        font-family: Arial, sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        padding: 4px 8px;
                        border-style: solid;
                        border-width: 1px;
                        overflow: hidden;
                        word-break: normal;
                    }

                    .tg .tg-uqo3 {
                        background-color: #efefef;
                        text-align: center;
                        vertical-align: top;
                    }

                    .tg .tg-nrw1 {
                        font-size: 10px;
                        text-align: center;
                        vertical-align: top;
                    }

                    .tg .tg-21yu {
                        background-color: #f8ff00;
                        vertical-align: top;
                    }

                    .tg .tg-baqh {
                        text-align: center;
                        vertical-align: top;
                    }

                    .tg .tg-yzt1 {
                        background-color: #efefef;
                        vertical-align: top;
                    }

                    .tg .tg-lbzb {
                        background-color: #fe0000;
                        text-align: center;
                        vertical-align: top;
                    }

                    .tg .tg-lqy6 {
                        text-align: right;
                        vertical-align: top;
                    }

                    .tg .tg-dx8v {
                        font-size: 12px;
                        vertical-align: top;
                    }

                    .tg .tg-yw4l {
                        vertical-align: top;
                    }

                    .tg .tg-furw {
                        background-color: #f8ff00;
                        text-align: center;
                        vertical-align: top;
                    }

                    .tg .tg-q9qv {
                        background-color: #fe0000;
                        vertical-align: top;
                    }
            </style>
            <table class="tg">
                
                    @{
                        string golfid = "920626-1";
                        string HCP="";
                        string ESlag="";
                        string starttid="";
                        string datum="";
                        string spelare1="";

                        foreach (var i in Model.medlems)
                        {
                            if (i.golf_id == golfid)
                            {
                                HCP = i.hcp.ToString();
                                spelare1 = i.fornamn + " " + i.efternamn;
                                foreach (var x in Model.bokning)
                                {
                                    if (x.golf_id == golfid)
                                    {
                                        datum = x.start_date.ToShortDateString();
                                        starttid = x.start_date.ToShortTimeString();
                                    }
                                }
                                // ESlag = erhållnaslag
                            }
                        }
                        <tr>
                            <th class="tg-dx8v" colspan="7" rowspan="2">Spelare: @spelare1</th>
                            <th class="tg-yw4l" colspan="6">Starttid: @starttid</th>
                            <th class="tg-yw4l" colspan="4">Ex.hcp: @HCP</th>
                        </tr>
                        <tr>
                            <td class="tg-yw4l" colspan="6">Datum: @datum</td>
                            <td class="tg-yw4l" colspan="4">Erh.slag: @ESlag</td>
                        </tr>
                    }
                        
                <tr>
                    <td class="tg-baqh" colspan="2"><br>Hål:</td>
                    <td class="tg-baqh" colspan="4"><br>Längd i m:</td>
                    <td class="tg-baqh" colspan="3"></td>
                    <td class="tg-nrw1" colspan="2">Spelare 1<br>@spelare1<br> </td>
                    <td class="tg-nrw1" colspan="2">Spelare 2<br></td>
                    <td class="tg-nrw1" colspan="2">Spelare 3</td>
                    <td class="tg-nrw1" colspan="2">Spelare 4</td>
                </tr>
                <tr>
                    <td class="tg-baqh" colspan="2"></td>
                    <td class="tg-furw" colspan="2">Gul</td>
                    <td class="tg-lbzb" colspan="2">Röd</td>
                    <td class="tg-baqh">Par</td>
                    <td class="tg-uqo3">Index</td>
                    <td class="tg-baqh">Slag</td>
                    <td class="tg-uqo3">Slag</td>
                    <td class="tg-baqh">Poäng</td>
                    <td class="tg-uqo3">Slag</td>
                    <td class="tg-baqh">Poäng</td>
                    <td class="tg-uqo3">Slag</td>
                    <td class="tg-baqh">Poäng</td>
                    <td class="tg-uqo3">Slag</td>
                    <td class="tg-baqh">Poäng</td>
                </tr>

                
                @{ int hål = 1;
                    foreach (var i in Model.scoreKort)
                    {
                        if (i.Hole_nr == "9")
                        {
                            <tr>
                                <td class="tg-baqh" colspan="2">@hål.ToString()</td>
                                <td class="tg-21yu" colspan="2"> @i.Lenght_Tee_Yellow</td>
                                <td class="tg-q9qv" colspan="2"> @i.Lenght_Tee_Red</td>
                                <td class="tg-yw4l">@i.Par</td>
                                <td class="tg-yzt1">@i.Index</td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                            </tr>
                            <tr>
                                <td class="tg-lqy6" colspan="6">UT</td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                            </tr>
                        }
                        else if (i.Hole_nr == hål.ToString())
                        {
                            <tr>
                                <td class="tg-baqh" colspan="2">@hål.ToString()</td>
                                <td class="tg-21yu" colspan="2"> @i.Lenght_Tee_Yellow</td>
                                <td class="tg-q9qv" colspan="2"> @i.Lenght_Tee_Red</td>
                                <td class="tg-yw4l">@i.Par</td>
                                <td class="tg-yzt1">@i.Index</td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                            </tr>
                        }
                    hål++;
                    }
                    }
                <tr>
                    <td class="tg-lqy6" colspan="6">IN</td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-uqo3"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yzt1"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yzt1"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yzt1"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yzt1"></td>
                    <td class="tg-yw4l"></td>
                </tr>
                <tr>
                    <td class="tg-yw4l" colspan="2">S:a</td>
                    <td class="tg-21yu" colspan="2"></td>
                    <td class="tg-q9qv" colspan="2"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-baqh" colspan="2">Summa</td>
                    <td class="tg-yzt1"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yzt1"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yzt1"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yzt1"></td>
                    <td class="tg-yw4l"></td>
                </tr>
                <tr>
                    <td class="tg-yw4l" colspan="9" rowspan="2">Spelares Golf-ID:</td>
                    <td class="tg-yw4l" colspan="5" rowspan="2">Markörs Sign:<br></td>
                    <td class="tg-yw4l" colspan="3" rowspan="2">Markörs Golf-ID:<br><br></td>
                </tr>

                <tr></tr>
            </table>
    </div>
</body>
</html>
