@{
    ViewBag.Title = "scorekort";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Golf_3_MVC.Models.Score
}

<!DOCTYPE html>
<html>
<head>
    <title>Hållslaget GK</title>
</head>
<body>
    <div class="row">
            <style type="text/css">
                    body { 
                        margin-top: 5%;
                    }
                .tg {
                    border-collapse: collapse;
                    border-spacing: 0;
                }

                    .tg td {
                        font-family: Arial, sans-serif;
                        font-size: 14px;
                        padding: 4px 8px;
                        border-style: solid;
                        border-width: 1px;
                        overflow: hidden;
                        word-break: normal;
                    }

                    .tg th {
                        font-family: Arial, sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        padding: 4px 8px;
                        border-style: solid;
                        border-width: 1px;
                        overflow: hidden;
                        word-break: normal;
                    }

                    .tg .tg-uqo3 {
                        background-color: #efefef;
                        text-align: center;
                        vertical-align: top;
                    }

                    .tg .tg-nrw1 {
                        font-size: 10px;
                        text-align: center;
                        vertical-align: top;
                    }

                    .tg .tg-21yu {
                        background-color: #f8ff00;
                        vertical-align: top;
                    }

                    .tg .tg-baqh {
                        text-align: center;
                        vertical-align: top;
                    }

                    .tg .tg-yzt1 {
                        background-color: #efefef;
                        vertical-align: top;
                    }

                    .tg .tg-lbzb {
                        background-color: #fe0000;
                        text-align: center;
                        vertical-align: top;
                    }

                    .tg .tg-lqy6 {
                        text-align: right;
                        vertical-align: top;
                    }

                    .tg .tg-dx8v {
                        font-size: 12px;
                        vertical-align: top;
                    }

                    .tg .tg-yw4l {
                        vertical-align: top;
                    }

                    .tg .tg-furw {
                        background-color: #f8ff00;
                        text-align: center;
                        vertical-align: top;
                    }

                    .tg .tg-q9qv {
                        background-color: #fe0000;
                        vertical-align: top;
                    }
            </style>
            <table class="tg">
                
                    @{
                        string golfid = "920626-1";// lägg till  Model.golfID
                        string golfid2 = "";
                        string golfid3 = "";
                        string golfid4 = "";
                        string spelare1 = "";
                        string spelare2 = "";
                        string spelare3 = "";
                        string spelare4 = "";
                        string HCP = "";
                        string HCP2 = "";
                        string HCP3 = "";
                        string HCP4 = "";
                        decimal ESlag;
                        string starttid = "";
                        string datum = "";
                        int bokningsID = 267; //lägg till Model.bokningsID
                        decimal slope = 124;
                        decimal CR = 73;

                        foreach (var x in Model.medbokare)//Tar fram golfID på de som är med i bollen och sätter den man vill skriva ut scorekortet till som spelare ett
                        {
                            if (x.BokningsId == bokningsID) //läggtill model.boknigsID
                            {
                                if (golfid2 == "")
                                {
                                    golfid2 = x.Medbokare1;
                                }
                                else if (golfid3 == "")
                                {
                                    golfid3 = x.Medbokare1;

                                }
                                else if (golfid4 == "")
                                {
                                    golfid4 = x.Medbokare1;
                                }

                                if (golfid2.Trim() == golfid)
                                {

                                    golfid2 = x.Huvudbokare;

                                }
                                if (golfid3.Trim() == golfid)
                                {

                                    golfid3 = x.Huvudbokare;
                                }
                                if (golfid4.Trim() == golfid)
                                {

                                    golfid4 = x.Huvudbokare;
                                }
                            }
                        }


                        foreach (var i in Model.medlems)// sätter namn och HCP till spelarna i bollen
                        {
                            if (i.golf_id == golfid.Trim())
                            {
                                HCP = i.hcp.ToString();
                                spelare1 = i.fornamn + " " + i.efternamn;
                                foreach (var x in Model.bokning)//sätter datum och starttid för bokningen
                                {
                                    if (x.golf_id == golfid.Trim() || x.golf_id == golfid2.Trim() || x.golf_id == golfid3.Trim() || x.golf_id == golfid4.Trim())
                                    {
                                        datum = x.start_date.ToShortDateString();
                                        starttid = x.start_date.ToShortTimeString();
                                    }
                                }
                            }
                            if (i.golf_id == golfid2.Trim())
                            {
                                spelare2 = i.fornamn + " " + i.efternamn;
                                HCP2 = i.hcp.ToString();
                            }
                            if (i.golf_id == golfid3.Trim())
                            {
                                spelare3 = i.fornamn + " " + i.efternamn;
                                HCP3 = i.hcp.ToString();
                            }
                            if (i.golf_id == golfid4.Trim())
                            {
                                spelare4 = i.fornamn + " " + i.efternamn;
                                HCP4 = i.hcp.ToString();
                            }
                        }



                        decimal hcpRäkna = Convert.ToDecimal(HCP);


                        ESlag = (hcpRäkna * (slope / 113)) + (CR - 72); //Räknar ut erhållna slag

                        ESlag = Math.Round(ESlag);
                        decimal totESlag = ESlag;
                        int räknare = 1;
                        int index1=0, index2 = 0, index3 = 0, index4 = 0, index5 = 0, index6 = 0, index7 = 0, index8 = 0, index9 = 0, index10 = 0, index11 = 0, index12 = 0, index13 = 0, index14 = 0, index15 = 0, index16 = 0, index17 = 0, index18 = 0;

                        int idexrätt =0;

                        while (ESlag > 0)
                        {
                            if (räknare ==1)
                            {
                                index1++;
                                goto Start;
                            }
                            if (räknare == 2)
                            {
                                index2++;
                                goto Start;
                            }
                            if (räknare == 3)
                            {
                                index3++;
                                goto Start;
                            }
                            if (räknare == 4)
                            {
                                index4++;
                                goto Start;
                            }
                            if (räknare == 5)
                            {
                                index5++;
                                goto Start;
                            }
                            if (räknare == 6)
                            {
                                index6++;
                                goto Start;
                            }
                            if (räknare == 7)
                            {
                                index7++;
                                goto Start;
                            }
                            if (räknare == 8)
                            {
                                index8++;
                                goto Start;
                            }
                            if (räknare == 9)
                            {
                                index9++;
                                goto Start;
                            }
                            if (räknare == 10)
                            {
                                index10++;
                                goto Start;
                            }
                            if (räknare == 11)
                            {
                                index11++;
                                goto Start;
                            }
                            if (räknare == 12)
                            {
                                index12++;
                                goto Start;
                            }
                            if (räknare == 13)
                            {
                                index13++;
                                goto Start;
                            }
                            if (räknare == 14)
                            {
                                index14++;
                                goto Start;
                            }
                            if (räknare == 15)
                            {
                                index15++;
                                goto Start;
                            }
                            if (räknare == 16)
                            {
                                index16++;
                                goto Start;
                            }
                            if (räknare == 17)
                            {
                                index17++;
                                goto Start;
                            }
                            if (räknare == 18)
                            {
                                index18++;
                                räknare = 0;
                                goto Start;
                            }
                            Start:
                            ESlag--;
                            räknare++;

                        }

                        <tr>
                            <th class="tg-dx8v" colspan="7" rowspan="2">Spelare:<br> @spelare1</th>
                            <th class="tg-yw4l" colspan="6">Starttid: @starttid</th>
                            <th class="tg-yw4l" colspan="4">Ex.hcp: @HCP</th>
                        </tr>
                        <tr>
                            <td class="tg-yw4l" colspan="6">Datum: @datum</td>
                            <td class="tg-yw4l" colspan="4">Erh.slag: @totESlag</td>
                        </tr>
                    }
                        
                <tr>
                    <td class="tg-baqh" colspan="2"><br>Hål:</td>
                    <td class="tg-baqh" colspan="4"><br>Längd i m:</td>
                    <td class="tg-baqh" colspan="3"></td>
                    <td class="tg-nrw1" colspan="2">Spelare 1<br>@spelare1<br> </td>
                    <td class="tg-nrw1" colspan="2">Spelare 2<br>@spelare2</td>
                    <td class="tg-nrw1" colspan="2">Spelare 3<br>@spelare3</td>
                    <td class="tg-nrw1" colspan="2">Spelare 4<br>@spelare4</td>
                </tr>
                <tr>
                    <td class="tg-baqh" colspan="2"></td>
                    <td class="tg-furw" colspan="2">Gul</td>
                    <td class="tg-lbzb" colspan="2">Röd</td>
                    <td class="tg-baqh">Par</td>
                    <td class="tg-uqo3">Index</td>
                    <td class="tg-baqh">Slag</td>
                    <td class="tg-uqo3">Slag</td>
                    <td class="tg-baqh">Poäng</td>
                    <td class="tg-uqo3">Slag</td>
                    <td class="tg-baqh">Poäng</td>
                    <td class="tg-uqo3">Slag</td>
                    <td class="tg-baqh">Poäng</td>
                    <td class="tg-uqo3">Slag</td>
                    <td class="tg-baqh">Poäng</td>
                </tr>

                
                @{ int hål = 1;
                    foreach (var i in Model.scoreKort)
                    {
                        if (i.Hole_nr == "9")
                        {
                            <tr>
                                <td class="tg-baqh" colspan="2">@hål.ToString()</td>
                                <td class="tg-21yu" colspan="2"> @i.Lenght_Tee_Yellow</td>
                                <td class="tg-q9qv" colspan="2"> @i.Lenght_Tee_Red</td>
                                <td class="tg-yw4l">@i.Par</td>
                                <td class="tg-yzt1">@i.Index</td>
                                <td class="tg-yw4l">
                                    @{if (i.Index == 1)
                                        {
                                            idexrätt = index1;
                                        }
                                        if (i.Index == 2)
                                        {
                                            idexrätt = index2;
                                        }
                                        if (i.Index == 3)
                                        {
                                            idexrätt = index3;
                                        }
                                        if (i.Index == 4)
                                        {
                                            idexrätt = index4;
                                        }
                                        if (i.Index == 5)
                                        {
                                            idexrätt = index5;
                                        }
                                        if (i.Index == 6)
                                        {
                                            idexrätt = index6;
                                        }
                                        if (i.Index == 7)
                                        {
                                            idexrätt = index7;
                                        }
                                        if (i.Index == 8)
                                        {
                                            idexrätt = index8;
                                        }
                                        if (i.Index == 9)
                                        {
                                            idexrätt = index9;
                                        }
                                        if (i.Index == 10)
                                        {
                                            idexrätt = index10;
                                        }
                                        if (i.Index == 11)
                                        {
                                            idexrätt = index11;
                                        }
                                        if (i.Index == 12)
                                        {
                                            idexrätt = index12;
                                        }
                                        if (i.Index == 13)
                                        {
                                            idexrätt = index13;
                                        }
                                        if (i.Index == 14)
                                        {
                                            idexrätt = index14;
                                        }
                                        if (i.Index == 15)
                                        {
                                            idexrätt = index15;
                                        }
                                        if (i.Index == 16)
                                        {
                                            idexrätt = index16;
                                        }
                                        if (i.Index == 17)
                                        {
                                            idexrätt = index17;
                                        }
                                        if (i.Index == 18)
                                        {
                                            idexrätt = index18;
                                        }
                                    }
                                    @idexrätt
                                    
                                </td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                            </tr>
                            <tr>
                                <td class="tg-lqy6" colspan="6">UT</td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                            </tr>
                                        }
                                        else if (i.Hole_nr == hål.ToString())
                                        {
                            <tr>
                                <td class="tg-baqh" colspan="2">@hål.ToString()</td>
                                <td class="tg-21yu" colspan="2"> @i.Lenght_Tee_Yellow</td>
                                <td class="tg-q9qv" colspan="2"> @i.Lenght_Tee_Red</td>
                                <td class="tg-yw4l">@i.Par</td>
                                <td class="tg-yzt1">@i.Index</td>
                                <td class="tg-yw4l">
                                    @{if (i.Index == 1)
                                        {
                                            idexrätt = index1;
                                        }
                                        if (i.Index == 2)
                                        {
                                            idexrätt = index2;
                                        }
                                        if (i.Index == 3)
                                        {
                                            idexrätt = index3;
                                        }
                                        if (i.Index == 4)
                                        {
                                            idexrätt = index4;
                                        }
                                        if (i.Index == 5)
                                        {
                                            idexrätt = index5;
                                        }
                                        if (i.Index == 6)
                                        {
                                            idexrätt = index6;
                                        }
                                        if (i.Index == 7)
                                        {
                                            idexrätt = index7;
                                        }
                                        if (i.Index == 8)
                                        {
                                            idexrätt = index8;
                                        }
                                        if (i.Index == 9)
                                        {
                                            idexrätt = index9;
                                        }
                                        if (i.Index == 10)
                                        {
                                            idexrätt = index10;
                                        }
                                        if (i.Index == 11)
                                        {
                                            idexrätt = index11;
                                        }
                                        if (i.Index == 12)
                                        {
                                            idexrätt = index12;
                                        }
                                        if (i.Index == 13)
                                        {
                                            idexrätt = index13;
                                        }
                                        if (i.Index == 14)
                                        {
                                            idexrätt = index14;
                                        }
                                        if (i.Index == 15)
                                        {
                                            idexrätt = index15;
                                        }
                                        if (i.Index == 16)
                                        {
                                            idexrätt = index16;
                                        }
                                        if (i.Index == 17)
                                        {
                                            idexrätt = index17;
                                        }
                                        if (i.Index == 18)
                                        {
                                            idexrätt = index18;
                                        }
                                    }
                                    @idexrätt
                                </td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yzt1"></td>
                                <td class="tg-yw4l"></td>
                            </tr>
                        }
                    hål++;
                    }
                    }
                <tr>
                    <td class="tg-lqy6" colspan="6">IN</td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-uqo3"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yzt1"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yzt1"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yzt1"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yzt1"></td>
                    <td class="tg-yw4l"></td>
                </tr>
                <tr>
                    <td class="tg-yw4l" colspan="2">S:a</td>
                    <td class="tg-21yu" colspan="2"></td>
                    <td class="tg-q9qv" colspan="2"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-baqh" colspan="2">Summa</td>
                    <td class="tg-yzt1"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yzt1"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yzt1"></td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yzt1"></td>
                    <td class="tg-yw4l"></td>
                </tr>
                <tr>
                    <td class="tg-yw4l" colspan="9" rowspan="2">Spelares Golf-ID:</td>
                    <td class="tg-yw4l" colspan="5" rowspan="2">Markörs Sign:<br></td>
                    <td class="tg-yw4l" colspan="3" rowspan="2">Markörs Golf-ID:<br><br></td>
                </tr>

                <tr></tr>
            </table>
    </div>
</body>
</html>
