@model Golf_3_MVC.Models.tavling

@{
    ViewBag.Title = "Delete";
}

<h2>Ta bort tävling</h2>

<h3>Är du säker på att ta bort tävlingen?</h3>
<div>
    <h4>Tävling</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tavlingsNamn)
            @Html.DisplayName("Tävling")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tavlingsNamn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tavlingsDatum)
            @Html.DisplayName("Datum")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tavlingsDatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.forstaStarttid)
            @Html.DisplayName("Första starttid")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.forstaStarttid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sistaAnmalning)
            @Html.DisplayName("Sista anmälning")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sistaAnmalning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tavlingsForm)
            @Html.DisplayName("Tävlingsform")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tavlingsForm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publicerad)
            @Html.DisplayName("Publicerad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publicerad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
