@model Golf_3_MVC.Models.tavling

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tävling</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.tavlingsNamn)*@
            @Html.DisplayName("Tävling")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tavlingsNamn)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.tavlingsDatum)*@
            @Html.DisplayName("Datum")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tavlingsDatum)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.forstaStarttid)*@
            @Html.DisplayName("Första starttid")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.forstaStarttid)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.sistaAnmalning)*@
            @Html.DisplayName("Sista anmälning")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sistaAnmalning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tavlingsForm)
            @Html.DisplayName("Tävlingsform")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tavlingsForm)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.publicerad)*@
            @Html.DisplayName("Publicerad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publicerad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
