@model Golf_3_MVC.Models.tavling

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tavling</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tavlingsNamn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tavlingsNamn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tavlingsDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tavlingsDatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.forstaStarttid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.forstaStarttid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sistaAnmalning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sistaAnmalning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tavlingsForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tavlingsForm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publicerad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publicerad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
