@using Microsoft.AspNet.Identity
@model IEnumerable<Golf_3_MVC.Models.tavling>


@{
    ViewBag.Title = "Tävling";
}
<script>
            $(document).ready(function () {
                $("#sokmedlem").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/Calendar/GetAutoCompleteData",
                            type: "POST",
                            dataType: "json",
                            data: { term: request.term },
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.fornamn, value: item.efternamn, value: item.golf_id
                                    }
                                }))
                            },
                            messages: {
                                noResults: "", results: ""
                            }
                        });
                    }
                });
            });
</script>

<div class="row">

    <ul class="nav nav-pills nav-stacked">

        <li class="dropdown pill-anmalan">

            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                Anmälan <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-header">Alla tävlingar</li>
                @foreach (var item in Model)
                {
                   <li class="litavling text-center" value="Assign" onclick="aktuelltavling(this)"
                    data-assigned-id="@item.Id"><a>@Html.DisplayFor(modelItem => item.tavlingsNamn)</a></li>
                }



                @if (User.IsInRole("User"))
                {
                    <li class="divider"></li>
                    <li class="dropdown-header">För användare: @User.Identity.GetUserName();</li>
                    <li class="minaanmalningar text-center" onclick="minaAnmalningar"><a>Mina anmälningar</a></li>
                }

            </ul>
        </li>
        <!--////////////////////////////////////////////////////-->
        @if (User.IsInRole("Personal") || User.IsInRole("Admin"))
        {
            <li class="pill-admintavling">

                <a href="#" aria-expanded="true">
                    Administrera tävlingar
                </a>
            </li>
            <li class="dropdown pill-anmalanPersonal">

                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                    Anmäla till tävling<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Tävlingar:</li>
                        @using (Html.BeginForm("LäggTillMedlemPersonal", "tavlings"))
                        {
                            <p class="center-block">
                                Välj tävling: <br />
                        @Html.DropDownList("Tavlingar", new SelectList(Model, "Id", "tavlingsNamn"))
                            </p>
                        
                    <li class="dropdown-header"></li>
                        <li class="divider"></li>
                            <p class="center-block">
                                Sök medlem: <br />
                                @Html.TextBox("sokmedlem") <input class="" type="submit" value="Lägg till medlem" />
                            </p>
                            @Html.Raw(TempData["msg"])
                        }
                </ul>
            </li>
        }
    </ul>

    <div class="panel panel-default panel-tavling">
        <div class="panel-heading">Aktuell tävling</div>
        <div class="panel-body panel-aktuelltavling">

        </div>
    </div>

    <div class="panel panel-default panel-admintavling">
        <div class="panel-heading">Administrera tävling</div>
        <div class="panel-body">

            @Html.Partial("_admintavling")

        </div>
    </div>

    <div class="panel panel-default panel-minaanmalningar">
        <div class="panel-heading">Mina anmälningar</div>
        <div class="panel-body panel-minaanmalningarInner">

        </div>
    </div>



</div>